
html, body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

.container{
  background-color: #152733;
  margin-left: 0px;
}
.heading{
  margin-left: 50px;
  color:antiquewhite;
  text-decoration: none;
  font-size:30px;
  font-weight: bold;
}

.search-add{
  display: flex;
  justify-content:flex-end;
  margin-right: 90px;
}

.search{
  margin-top: 5px;
  border-radius:10px;
  margin-right: 20px;
}

.add{
    margin-top: 5px;
    color: #DC3545;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}